.title {
    text-align: left;
    margin: 0 auto;
    width: 45rem;
}

html {
    width: 100%;
    overflow-x: hidden;
}

.article {
    text-align: justify;
    text-justify: inter-ideograph;
    margin: 0 auto;
    width: 45rem;
    line-height: 2em;
    color: darkslategray;
}

.mobile {
    text-align:justify;
    text-justify: inter-ideograph;
    margin: 0 auto;
    line-height:2em;
    color: darkslategray;
    padding-left: 1em;
    padding-right: 1em;
}

.move-graph, .pEco-graph, .report-graph{
    margin: 0 auto;
    align-content: center;
}
.expen-graph, .urban-graph {
    margin: 0 auto;
    align-content: center;
}

.mEco-graph{
    margin: 0 auto;
}

.greatIncrease-graph {
    margin: 0 auto;
}

.urbanold-graph, .sentiment-graph {
    margin: 0 auto;
}

.old-graph {
    margin: 0 auto;
}

.bulletComment-graph{
    width: 20rem;
    height: 25rem;
    margin: 0 auto;
}

.bulletContent-graph {
    margin: 0 auto;
}

.patients-graph, .fair-graph{
    margin: 0 auto;
    width: 48rem;
}

.unfairN-graph, .unfairStr-graph {
    margin: 0 auto;
}


.yesWeCan-graph {
    margin: 0 auto;
}

.cell {
    margin: 0 auto;
    width: 30rem;
    height: 20rem;
}

.cell-graph {
    margin: 0 auto;
    width: 30rem;
}

.bullet {
    color: cadetblue;
}

.emphasis {
    color: white;
    background: cadetblue;
}

.reference {
    text-align: justify;
    text-justify: inter-ideograph;
    margin: 0 auto;
    width: 45rem;
    line-height: 2em;
    font-size: smaller;
}

.thank {
    margin: 0 auto;
    line-height: 2em;
    font-size: smaller;
}
